<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juegos</title>
</head>
<body>
    
    <h1>Videojuegos</h1>
    {{#each videojuegos }}
        <li>{{ juego }}</li>
    {{/each}}

    
</body>
</html>